body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.coming {
  opacity: 0.5;
}
